@import '../../index';


div#main{
    margin:20px;
    color:color(font);
    section#texto-principal{        
        p{
            font-size:15px;
        }
    }    

    section#semestres{        
        border-radius: 5px;
    }
}

button-group{
    display: grid;
    border: 1px solid color(secondary-blue);
    border-radius:5px;

    button{
        margin:0;
        border:0;
        border-bottom:1px solid color(secondary-blue);
        border-radius:0;
    }
    .disabled{
        border: 0 color(primary-disabled);
    }
}

div#card{
    box-shadow: 0px 2px 5px 1px rgba(26, 1, 1, 0.178);
    margin:20px 0 0 0;
    color: color(font);
    padding:20px;
    div#texto{
        margin:15px;
        font-size:13px;
        h4{
            font-weight: 200;
            margin:0 30px 0 30px;
        }        
    }   
    
}

.icon-color{
    color: color(primary-blue);
}

div.escolhido{
    h3{
        color:color(secondary-blue);
        margin:0;
    } 
    div.first{
        margin-top: 15px;
        p{
            font-weight:bold;
        }
        label{
            font-size:15px;
        }
    }
    div.third{
        p{
            margin-bottom:0;            
        }
        p.through-line{
            text-decoration: line-through;
        }
        h3{
            margin-top:0;
            font-weight: normal;
            green-accent{
                font-size: 23px;
            }            
        }
        label{
            text-transform: none;    
            font-size:15px;        
        }
    }
    div.fourth{
        display:grid;
        grid-template-areas: "excluir oferta";
        grid-template-columns: 1.5fr 2fr;
    }
    button.oferta{
        background-color: color(primary-yellow);
        color: black;
        border-color: color(secondary-yellow);
        grid-area:oferta;
        margin-left:10px;
    }
    button.excluir{
        grid-area:excluir;
        margin-right:10px;
    }
    button.indisponivel{
        grid-area:oferta;
        border-color: grey;
        background-color: darkgrey;
        color: gray;
    }
}