@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700&display=swap');

$colors: (
    primary-blue: #18acc3,
    secondary-blue: #007A8D,
    primary-yellow:#FDCB13,
    secondary-yellow:#DE9E1F,
    quero-green:#0FA866,
    font-color:#1F2D30,
    bg-color:#FBFBFB,
    modal-overlay:rgba(31, 45, 48, 0.884)
);

@function color($color-name){
    @return map-get($colors, $color-name);
}

body {
    background-color: color(bg-color);
    font-family:'Open Sans';
    margin: 5px 0;
}

.center{text-align: center;}
.right{text-align: right}
.f-700{font-weight:700;}
.f-600{font-weight:600;}
.mb-10{margin-bottom: 10px;}
.mb-5{margin-bottom: 5px;}

#content {
    padding-top: 70px;
    min-height: "calc(100vh - 92px)";
}