@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700&display=swap');

$colors: (
    primary-blue: #18acc3,
    secondary-blue: #007A8D,
    primary-yellow:#FDCB13,
    secondary-yellow:#DE9E1F,
    quero-green:#0FA866,
    font:#1F2D30,
    bg-color:#FBFBFB,
    modal-overlay:rgba(31, 45, 48, 0.884),
    primary-disabled:rgba(0, 122, 141, 0.60)
);
@function color($color-name){
    @return map-get($colors, $color-name);
}
$track-w: 12.5em;
$track-h: .25em;
$thumb-d: 1.5em;
$track-c: color(primary-blue);
$dist: $track-w - $thumb-d;

body {
    background-color: color(bg-color);
    font-family:'Open Sans';
    margin: 5px 0;
}

green-accent{
    color:color(quero-green);
    font-weight: bold;
}

.center{text-align: center;}
.right{text-align: right}
.f-700{font-weight:700;}
.f-600{font-weight:600;}
.mb-10{margin-bottom: 10px;}
.mb-5{margin-bottom: 5px;}

#content {
    padding-top: 70px;
    min-height: "calc(100vh - 92px)";
}

button{
    background-color: white;
    border-radius:5px;
    border: 1px solid color(secondary-blue);
    font-family:'Open Sans';
    color:color(secondary-blue);
    font-size:16px;
    font-weight: 600;
    margin: 13px 0 13px 0;
    padding:15px;
}

button:focus{
    background-color: color(secondary-blue);
    color:white;
    outline: 0;
}

/*----Checkbox-----*/

.check-custom{
    -webkit-appearance: none;
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    outline: 0;
}


.check-custom:checked {
	background-color: color(primary-blue);
    border: 1px solid color(primary-blue);
}

.check-custom:checked:after {
	content: '\2714';   
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: white;
}

@mixin track() { 
    box-sizing: border-box;
    border: none;
    width: $track-w; height: $track-h;
    background: $track-c;
}

@mixin thumb() {
    box-sizing: border-box;
    border: color(primary-blue) 2px solid;
    width: $thumb-d; height: $thumb-d;
    border-radius: 50%;
    background:white;
}.wrap {
    display: flex;
    align-items: center;
    position: relative;
    width: $track-w; height: 3.5*$thumb-d;
    font: 1em/1 arial, sans-serif
}

[type='range'] {
    &, &::-webkit-slider-thumb {
        -webkit-appearance: none
    }
    
    flex: 1;
    margin: 0;
    padding: 0;
    min-height: $thumb-d;
    background: transparent;
    font: inherit;
    
    &::-webkit-slider-runnable-track {
        @include track()
    }
    &::-moz-range-track { @include track }
    &::-ms-track { @include track }
    
    &::-webkit-slider-thumb {
        margin-top: .5*($track-h - $thumb-d);
        @include thumb
    }
    &::-moz-range-thumb { @include thumb }
    &::-ms-thumb {
        margin-top: 0;
        @include thumb
    }
    
    &::-ms-tooltip { display: none }
    
    ~ output {
        display: none;
        
        .js & {
            display: block;
            position: absolute;
            left: .5*$thumb-d; top: 0;
            padding: .25em .5em;
            border-radius: 3px;
            transform: translate(calc((var(--val) - var(--min))/(var(--max) - var(--min))*#{$dist} - 50%));
            background: #95a;
            color: #eee;
        }
    }
}

.disabled{
    border-color: grey;
    background-color: darkgrey;
    color: gray;
}

.enabled{
    background-color: color(primary-yellow);
    color: black;
    border-color: color(secondary-yellow);
}